
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

header {
    padding: 1em;
    background-color: #050730;
    color: #fff;
}

.hero {
    height: 100vh;
    border-bottom: .2em solid #050730;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero h1 {
    font-size: rem;
}

#c2aBtn {
    align-self: flex-end;
}

.display-books {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    background-color: f9ebe0;
    justify-content: center;
    align-content: stretch;
}

.book-card {
    border: .3em solid #6b0504;
    padding: 2.5em;
    margin: .5em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    height: 27em
}

.btn-container {
    display: flex;
    width: 95%;
    border: 1px solid green;
    padding: .5em;
    
    justify-content: center;
}

button {
    padding: .5em;
    border-radius: 1em;
    margin: .5em;
}